@charset "utf-8";
/* CSS Document */

#wrapper{
	width:800px;
	margin:0 auto;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input[type=text], input[type=email], input[type=password] {
  border: 1px dotted #999;
  border-radius: 0;
  width : 150px;
  margin: 0;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

fieldset{
	padding: 10px 20px;
}

input[type=radio], input[type=checkbox]{
	width=auto;
	overflow:hidden;
}

input[type=checkbox]{
	margin: 0 5px;
}
